<header id="header">
  <a routerLink="/" class="logo"><strong>{{ title }}</strong> {{ subtitle }}</a>
  <ul class="icons">
    <li><a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i><span class="label">Twitter</span></a></li>
    <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i><span class="label">Facebook</span></a></li>
    <li><a href="#" aria-label="Snapchat"><i class="fab fa-snapchat-ghost"></i><span class="label">Snapchat</span></a></li>
    <li><a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i><span class="label">Instagram</span></a></li>
    <li><a href="#" aria-label="Medium"><i class="fab fa-medium-m"></i><span class="label">Medium</span></a></li>
  </ul>
</header>
