# Frontend - Environment Configuration
# DO NOT COMMIT THIS FILE - It contains sensitive information

# Angular Application
NG_APP_TITLE=Template Builder
NG_APP_VERSION=0.2.0

# Environment
NG_APP_ENV=development
