@use '../../../styles/variables' as *;

// Banner
#banner {
  padding: 6em 0 0 0;
  display: flex;

  h1 {
    margin-top: -0.125em;
  }

  .content {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
  }

  h2 {
    margin-top: _size(element-margin);
  }
}
