<!-- Menu -->
<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    @for (menu of menus; track $index) {
      @if (hasChildren(menu)) {
        <li class="has-submenu">
          <a href="#" (click)="toggleSubmenu($index, $event)" [class.active]="isSubmenuOpen($index)">
            {{ menu.description }}
            <i class="fas fa-chevron-down" [class.rotated]="isSubmenuOpen($index)"></i>
          </a>
          <ul class="submenu" [class.open]="isSubmenuOpen($index)">
            @for (child of menu.childrens; track child.route) {
              <li>
                <a [routerLink]="child.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ child.description }}</a>
              </li>
            }
          </ul>
        </li>
      } @else {
        <li>
          <a [routerLink]="menu.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ menu.description }}</a>
        </li>
      }
    }
  </ul>
</nav>
