<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>Home 2<br />
      Second Page</h1>
      <p>This is the second home page</p>
    </header>
    <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris.</p>
    <ul class="actions">
      <li><a href="#" class="button big">Learn More</a></li>
    </ul>
  </div>
  <span class="image object">
    <img src="https://via.placeholder.com/400x400" alt="" />
  </span>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Home 2 Content</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon fa-gem"><i class="far fa-gem"></i></span>
      <div class="content">
        <h3>Feature 1</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-paper-plane"><i class="fas fa-paper-plane"></i></span>
      <div class="content">
        <h3>Feature 2</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </article>
  </div>
</section>
